# Programming for Data Science 2024
## Homework Assigment Two
Homework activities aim at testing not only your ability to put into practice the concepts you have learned during the Lectures and Labs, but also your ability to explore the Python documentation as a resource. Above all, it is an opportunity for you to challenge yourself and practice. If you are having difficulties with the assignment reach out for support using moodle's Discussion Forum.

### Description

This homework assignment will test your capacity to **load and manipulate data with Pandas**. 
    
The goal is to develop intuition on filtering, arranging, and merging data, which will be useful for the next homework assignment.<br/>
Fill the empty cells with your code and deliver a copy of this notebook to Moodle. <br/>
    
Your submission will be graded according to the following guidelines:
1. **Execution** (does your program does what is asked from the exercise?
2. **Objectivity** (are you using the adequate libraries? are you using a library ... )
3. **Readability** of your code (including comments, variables naming, supporting text, etc ...)

**Comment your code properly**, which includes naming your variables in a meaningful manner. **Badly documented code will be penalized.**

This assignment is to be done in pairs, and remember that you can't have the same pair from the previous and subsequent assignments.

**Students that are caught cheating will obtain a score of 0 points.** <br>

Homework 2 is worth 25% of your final grade.    

The submission package should correspond to a .zip archive (.rar files are not accepted) with the following files:
1. Jupyter Notebook with the output of all the cells;
2. HTML print of your Jupyter Notebook (in Jupyter go to File -> Download as -> HTML);
3. All text or .csv files that are exported as part of the exercises. **Please don't upload the files downloaded/imported as part of the exercises.**

**Please change the name of the notebook to "H2.\<student_1_id\>_\<student_2_id\>.ipynb", replacing \<student_id\> by your student_id.** <br>

Submission is done through the respective Moodle activity, and only one of the group members should submit the files. <br>
The deadline is the **19th of October at 12:00**. <br>
A penalty of 1 point per day late will be applied to late deliveries. <br>
**In this notebook, you are allowed to use Pandas and Numpy.**

In [3]:
import numpy as np
import scipy
import pandas as pd

# Disable FutureWarnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# <span style="color:brown"> Start Here </span> 

[Please Complete the following form with your details]

**Student Name -**  Andr√© Filipe Gomes Silvestre <br>
**Student id -** 20240502 <br>
**Contact e-mail -** 20240502@novaims.unl.pt <br>


**Student Name -** Filipa Pereira <br>
**Student id -** 20240509 <br>
**Contact e-mail -** 20240509@novaims.unl.pt <br>

# <span style="color:brown"> Part 1 - Get the Data </span>

## Download and Load the World Development Indicators Dataset

We will work with the **World Development Indicators dataset**, which should be downloaded from the world bank data catalog.<br/>
Hence, the first step is to unzip the data given on Moodle, you can do this by running the cell below. <br/>

In [7]:
import zipfile, io

z = zipfile.ZipFile("WDI_csv.zip")
z.extractall()

del z

*The above code downloads a zip archive to the working folder, which by default is the the location of this notebook in your computer. <br/>
Secondly, and since the document downloaded is a zip archive, it extracts the documents from the archive. <br/> 
The contents include multiple .csv files, however we will be working only with the document 'WDICSV.csv'. <br/>*

**1.** In the cell bellow, use Pandas to open the file "WDICSV.csv" and **save** it to a variable called **wdi**.<br/>

In [9]:
# Load the data
wdi = pd.read_csv("WDICSV.csv")

**2.** Check the top of the dataframe to ensure it was loaded correctly.

In [11]:
# Check 5 first rows
wdi.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.401410,17.911234,18.463874,18.924037,19.437054,20.026254,20.647969,21.165877,21.863139,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.728819,7.005877,7.308571,7.547226,7.875917,8.243018,8.545483,8.906711,9.261320,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,38.080931,38.422282,38.722108,38.993157,39.337872,39.695279,40.137847,40.522209,41.011132,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.860474,33.903800,38.854624,40.199898,43.017148,44.381259,46.264875,48.100862,48.711995,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.619475,16.500171,24.605861,25.396929,27.037528,29.137914,31.001049,32.777910,33.747907,NaN

## Download and Load the Penn World Table V9.0

We will additionally use data from the pwt v9.0 tables. <br/> 

**Run the following cell to download the dataset**.

In [13]:
import urllib
urllib.request.urlretrieve("https://www.rug.nl/ggdc/docs/pwt90.xlsx", "pwt90.xlsx")

('pwt90.xlsx', <http.client.HTTPMessage at 0x236a7b76bd0>)

**3.** In the following cell, open and read the file 'pwt90.xlsx' and **save** it into variable **pwt**. <br/>

In [15]:
# Load the data
# After opening the file, we verify that the sheetname with data we want to load is 'Data'
pwt = pd.read_excel("pwt90.xlsx", sheet_name = "Data")

**4.** Check the top of the dataframe to ensure it was loaded correctly.

In [17]:
# Check 5 first rows
pwt.head()

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,csh_g,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_k
0,ABW,Aruba,Aruban Guilder,1950,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,Aruban Guilder,1951,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,Aruban Guilder,1952,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,Aruban Guilder,1953,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,Aruban Guilder,1954,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# <span style="color:brown"> Part 2 - Data Processing </span>

## Data Wrangling

Now that we have loaded our data we are ready to start playing with it. <br/>

**5.** Start by printing all the column values in the cell bellow.

In [20]:
# Check the columns values in the 'wdi' DataFrame
wdi.info()  # not only returns the columns names but also the number of non-null values in each column and the data type of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395808 entries, 0 to 395807
Data columns (total 68 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    395808 non-null  object
 1   Country Code    395808 non-null  object
 2   Indicator Name  395808 non-null  object
 3   Indicator Code  395808 non-null  object
 4   1960            38945 non-null   float64
 5   1961            43899 non-null   float64
 6   1962            45200 non-null   float64
 7   1963            46136 non-null   float64
 8   1964            46697 non-null   float64
 9   1965            48849 non-null   float64
 10  1966            48847 non-null   float64
 11  1967            49528 non-null   float64
 12  1968            50145 non-null   float64
 13  1969            50920 non-null   float64
 14  1970            68509 non-null   float64
 15  1971            75447 non-null   float64
 16  1972            76218 non-null   float64
 17  1973            76749 non-null   float64
 18  1974            78290 non-null   float64
 19  1975            82055 non-null   float64
 20  1976            84225 non-null   float64
 21  1977            86934 non-null   float64
 22  1978            87678 non-null   float64
 23  1979            88652 non-null   float64
 24  1980            93107 non-null   float64
 25  1981            94977 non-null   float64
 26  1982            95360 non-null   float64
 27  1983            96307 non-null   float64
 28  1984            96948 non-null   float64
 29  1985            98289 non-null   float64
 30  1986            99020 non-null   float64
 31  1987            99275 non-null   float64
 32  1988            99344 non-null   float64
 33  1989            101161 non-null  float64
 34  1990            124994 non-null  float64
 35  1991            135406 non-null  float64
 36  1992            138785 non-null  float64
 37  1993            141341 non-null  float64
 38  1994            143459 non-null  float64
 39  1995            151553 non-null  float64
 40  1996            158919 non-null  float64
 41  1997            152359 non-null  float64
 42  1998            161791 non-null  float64
 43  1999            161047 non-null  float64
 44  2000            195315 non-null  float64
 45  2001            182594 non-null  float64
 46  2002            192385 non-null  float64
 47  2003            195072 non-null  float64
 48  2004            199422 non-null  float64
 49  2005            212565 non-null  float64
 50  2006            213619 non-null  float64
 51  2007            215961 non-null  float64
 52  2008            216295 non-null  float64
 53  2009            218079 non-null  float64
 54  2010            228204 non-null  float64
 55  2011            224826 non-null  float64
 56  2012            226192 non-null  float64
 57  2013            224068 non-null  float64
 58  2014            230889 non-null  float64
 59  2015            231046 non-null  float64
 60  2016            226966 non-null  float64
 61  2017            224417 non-null  float64
 62  2018            223363 non-null  float64
 63  2019            218704 non-null  float64
 64  2020            200698 non-null  float64
 65  2021            182596 non-null  float64
 66  2022            150900 non-null  float64
 67  2023            75714 non-null   float64
dtypes: float64(64), object(4)
memory usage: 205.3+ MB

In [21]:
# Check the columns values [Alternative: Just to check the columns names]
wdi.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023'],
      dtype='object')

In [22]:
# Check the columns values in the 'pwt' DataFrame
pwt.columns

Index(['countrycode', 'country', 'currency_unit', 'year', 'rgdpe', 'rgdpo',
       'pop', 'emp', 'avh', 'hc', 'ccon', 'cda', 'cgdpe', 'cgdpo', 'ck',
       'ctfp', 'cwtfp', 'rgdpna', 'rconna', 'rdana', 'rkna', 'rtfpna',
       'rwtfpna', 'labsh', 'delta', 'xr', 'pl_con', 'pl_da', 'pl_gdpo',
       'i_cig', 'i_xm', 'i_xr', 'i_outlier', 'cor_exp', 'statcap', 'csh_c',
       'csh_i', 'csh_g', 'csh_x', 'csh_m', 'csh_r', 'pl_c', 'pl_i', 'pl_g',
       'pl_x', 'pl_m', 'pl_k'],
      dtype='object')

**6.** List the values in the column 'Country Name'.You will get a list with repeated values, **delete all duplicates** to ease your analysis. <br/>

*Tip: There is a method in the pandas library that allows to do this easily.*

In [24]:
# Check the values of the column 'Country Name' and delete duplicates
wdi['Country Name'].drop_duplicates()

# Alternatively we can use the method .unique() to get the unique values of the column 'Country Name'
# wdi['Country Name'].unique()

0            Africa Eastern and Southern
1488          Africa Western and Central
2976                          Arab World
4464              Caribbean small states
5952      Central Europe and the Baltics
                       ...
388368             Virgin Islands (U.S.)
389856                West Bank and Gaza
391344                       Yemen, Rep.
392832                            Zambia
394320                          Zimbabwe
Name: Country Name, Length: 266, dtype: object

You might notice that while the bottom rows represent Countries, the top rows represent aggregates of countries (e.g., world regions). <br/> We are only interested in **working with country-level data**, and as such we need to filter out all the unnecessary rows.

**7.** Save all the values of column 'Country Name' in a variable called **cnames**. <br/>

In [27]:
# Save the values of the column 'Country Name'
cnames = wdi['Country Name']

**7.1.** Delete all duplicate values.<br>

In [29]:
# Delete duplicates
cnames = cnames.drop_duplicates()

**7.2.** Print the names that do not represent countries.

In [31]:
# Firstly we replace the old index
cnames= cnames.reset_index(drop=True)

# Then we find the index of the last name that doesn't represent a country
index = cnames[cnames =="World"].index[0]
not_countries= cnames.iloc[:index+1]
not_countries

0                           Africa Eastern and Southern
1                            Africa Western and Central
2                                            Arab World
3                                Caribbean small states
4                        Central Europe and the Baltics
5                            Early-demographic dividend
6                                   East Asia & Pacific
7           East Asia & Pacific (excluding high income)
8            East Asia & Pacific (IDA & IBRD countries)
9                                             Euro area
10                                Europe & Central Asia
11        Europe & Central Asia (excluding high income)
12         Europe & Central Asia (IDA & IBRD countries)
13                                       European Union
14             Fragile and conflict affected situations
15               Heavily indebted poor countries (HIPC)
16                                          High income
17                                            IBRD only
18                                     IDA & IBRD total
19                                            IDA blend
20                                             IDA only
21                                            IDA total
22                            Late-demographic dividend
23                            Latin America & Caribbean
24    Latin America & Caribbean (excluding high income)
25    Latin America & the Caribbean (IDA & IBRD coun...
26         Least developed countries: UN classification
27                                  Low & middle income
28                                           Low income
29                                  Lower middle income
30                           Middle East & North Africa
31    Middle East & North Africa (excluding high inc...
32    Middle East & North Africa (IDA & IBRD countries)
33                                        Middle income
34                                        North America
35                                       Not classified
36                                         OECD members
37                                   Other small states
38                          Pacific island small states
39                            Post-demographic dividend
40                             Pre-demographic dividend
41                                         Small states
42                                           South Asia
43                              South Asia (IDA & IBRD)
44                                   Sub-Saharan Africa
45           Sub-Saharan Africa (excluding high income)
46            Sub-Saharan Africa (IDA & IBRD countries)
47                                  Upper middle income
48                                                World
Name: Country Name, dtype: object

In [32]:
# [Alternative]: After analyzing the values, we can see that the first 49 values are not countries but aggregates of countries
# cnames[:49]

You can take advantage of the structure of the dataset to realize that aggregates (Continents, Regions, etc) are all located on the top of the series 'cnames'. Moreover, since the series is small you can easily validate this assumption manually and then use that information to extract a slice of all the entries that represent non-countries entities.<br/>

**8.** In the next cell filter out, from **wdi**, the rows in which 'Country Name' represents an aggregate of countries.<br/>

In [34]:
# Filter out the rows that represent aggregates of countries
wdi = wdi.loc[wdi['Country Name'].isin(not_countries)== False]  
# - wdi['Country Name'].isin(not_countries) -> returns a boolean Series with:
#                                                  - 'True' for the rows that values in 'Country Name' are in 'not_countries'
#                                                  - 'False' otherwise
# In this case we are filtering out the rows that represent aggregates of countries so we want the opposite of the boolean Series
# - wdi.loc[... == False] -> returns the rows where 'Country Name' is not in 'not_countries'

# [Alternative]
# wdi = wdi.loc[wdi['Country Name'].isin(cnames[49:])]

**9.** Check that the top of the **wdi** dataframe now only has countries and not aggregates of countries.

In [36]:
# Check 5 first rows
wdi.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
72912,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,26.1,27.6,28.8,30.3,31.4,32.6,33.8,34.9,36.1,NaN
72913,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,10.2,11.4,12.6,13.5,14.5,15.6,16.4,17.4,18.5,NaN
72914,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,78.0,79.5,80.5,81.6,82.6,83.2,83.8,84.5,85.0,NaN
72915,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,89.5,71.5,97.7,97.7,93.4,97.7,97.7,97.7,85.3,NaN
72916,Afghanistan,AFG,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,86.5,64.6,97.1,97.1,91.6,97.1,97.1,97.1,81.7,NaN

**10.** Reset the indexes of **wdi**. Perform this operation in-place.

In [38]:
# Reset the indexes
wdi.reset_index(drop = True,     # Drop the old index if it is saved as a column
                inplace = True)  # Perform the operation in-place

**11.** Show that the indexes have been reseted.

In [40]:
# Check 5 first rows
wdi.head() # the 'wdi' dataframe now starts at index 0

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,26.1,27.6,28.8,30.3,31.4,32.6,33.8,34.9,36.1,NaN
1,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,10.2,11.4,12.6,13.5,14.5,15.6,16.4,17.4,18.5,NaN
2,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,78.0,79.5,80.5,81.6,82.6,83.2,83.8,84.5,85.0,NaN
3,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,89.5,71.5,97.7,97.7,93.4,97.7,97.7,97.7,85.3,NaN
4,Afghanistan,AFG,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,86.5,64.6,97.1,97.1,91.6,97.1,97.1,97.1,81.7,NaN

*Note that when reseting the index, pandas appends a new column at the begining of the data frame, which holds the previous index values.*

## Indicator Codes and Indicator Names

**12.** Select the columns 'Indicator Name' and 'Indicator Code'.Then, delete all the duplicates, and print the top 5 and bottom 5 values. <br/>

*Note: You should be able to do everything in a single line of code for the top 5 values and a single line for the bottom 5 values.*

In [43]:
# Select the columns 'Indicator Name' and 'Indicator Code'
wdi[['Indicator Name', 'Indicator Code']]

                                           Indicator Name     Indicator Code
0       Access to clean fuels and technologies for coo...     EG.CFT.ACCS.ZS
1       Access to clean fuels and technologies for coo...  EG.CFT.ACCS.RU.ZS
2       Access to clean fuels and technologies for coo...  EG.CFT.ACCS.UR.ZS
3                 Access to electricity (% of population)     EG.ELC.ACCS.ZS
4       Access to electricity, rural (% of rural popul...  EG.ELC.ACCS.RU.ZS
...                                                   ...                ...
322891  Women who believe a husband is justified in be...     SG.VAW.REFU.ZS
322892  Women who were first married by age 15 (% of w...  SP.M15.2024.FE.ZS
322893  Women who were first married by age 18 (% of w...  SP.M18.2024.FE.ZS
322894  Women's share of population ages 15+ living wi...  SH.DYN.AIDS.FE.ZS
322895  Young people (ages 15-24) newly infected with HIV     SH.HIV.INCD.YG

[322896 rows x 2 columns]

In [44]:
# Delete duplicates
wdi[['Indicator Name', 'Indicator Code']].drop_duplicates()

                                         Indicator Name     Indicator Code
0     Access to clean fuels and technologies for coo...     EG.CFT.ACCS.ZS
1     Access to clean fuels and technologies for coo...  EG.CFT.ACCS.RU.ZS
2     Access to clean fuels and technologies for coo...  EG.CFT.ACCS.UR.ZS
3               Access to electricity (% of population)     EG.ELC.ACCS.ZS
4     Access to electricity, rural (% of rural popul...  EG.ELC.ACCS.RU.ZS
...                                                 ...                ...
1483  Women who believe a husband is justified in be...     SG.VAW.REFU.ZS
1484  Women who were first married by age 15 (% of w...  SP.M15.2024.FE.ZS
1485  Women who were first married by age 18 (% of w...  SP.M18.2024.FE.ZS
1486  Women's share of population ages 15+ living wi...  SH.DYN.AIDS.FE.ZS
1487  Young people (ages 15-24) newly infected with HIV     SH.HIV.INCD.YG

[1488 rows x 2 columns]

In [45]:
# Print the top 5 values
wdi[['Indicator Name', 'Indicator Code']].drop_duplicates().head()

                                      Indicator Name     Indicator Code
0  Access to clean fuels and technologies for coo...     EG.CFT.ACCS.ZS
1  Access to clean fuels and technologies for coo...  EG.CFT.ACCS.RU.ZS
2  Access to clean fuels and technologies for coo...  EG.CFT.ACCS.UR.ZS
3            Access to electricity (% of population)     EG.ELC.ACCS.ZS
4  Access to electricity, rural (% of rural popul...  EG.ELC.ACCS.RU.ZS

In [46]:
# Print the bottom 5 values
wdi[['Indicator Name', 'Indicator Code']].drop_duplicates().tail()

                                         Indicator Name     Indicator Code
1483  Women who believe a husband is justified in be...     SG.VAW.REFU.ZS
1484  Women who were first married by age 15 (% of w...  SP.M15.2024.FE.ZS
1485  Women who were first married by age 18 (% of w...  SP.M18.2024.FE.ZS
1486  Women's share of population ages 15+ living wi...  SH.DYN.AIDS.FE.ZS
1487  Young people (ages 15-24) newly infected with HIV     SH.HIV.INCD.YG

**13.** Create a new DataFrame named **indicators** made up of the columns 'Indicator Name' and 'Indicator Code'. Then, delete all the duplicated entries. Finally, set the column 'Indicator Code' as the index of **indicators**. 

*Note: Try to perform all these steps in a single line of code.*

In [48]:
# Create the DataFrame 'indicators' + Delete duplicates + Set the index to 'Indicator Code'
indicators = wdi[['Indicator Name', 'Indicator Code']].drop_duplicates().set_index('Indicator Code')

# We are checking the type of the variable indicators and confirming that it is a DataFrame
print('Type of the variable "indicators":', type(indicators), '\n')

# Check 5 first rows
indicators.head()

Type of the variable "indicators": <class 'pandas.core.frame.DataFrame'>

                                                      Indicator Name
Indicator Code
EG.CFT.ACCS.ZS     Access to clean fuels and technologies for coo...
EG.CFT.ACCS.RU.ZS  Access to clean fuels and technologies for coo...
EG.CFT.ACCS.UR.ZS  Access to clean fuels and technologies for coo...
EG.ELC.ACCS.ZS               Access to electricity (% of population)
EG.ELC.ACCS.RU.ZS  Access to electricity, rural (% of rural popul...

**The 'indicators' DataFrame can operate now as a dictionary. <br/>**
By passing an 'Indicator Code' (key) it returns the associated 'Indicator Name' (value).<br/>

**14.** Using the **indicators** DataFrame, find the 'Indicator Code' associated with the following observables:
1. 'Population', find the 'Indicator Code' of the total population in a country;
2. 'GDP', find the GDP measured in current US Dollars;
3. 'GINI index'

*Hint: You can use the method STRING.str.contains('substring') to check whether a string contains a substring.*

In [50]:
# Find the 'Indicator Code' of the total population in a country
indicators[indicators['Indicator Name'].str.contains('Population, total', 
                                                     case = False)] # case = False to ignore the case of the string (upper or lower)

                   Indicator Name
Indicator Code
SP.POP.TOTL     Population, total

> The **`Indicator Code`** for the total population in a country is **'SP.POP.TOTL'**.<br/>

In [52]:
# Find the 'Indicator Code' of the GDP measured in current US Dollars
indicators[indicators['Indicator Name'].str.contains("GDP \\(current US\\$\\)", case = False)] # The character '\\' is used to escape the special character '(', '$' and ')'

                   Indicator Name
Indicator Code
NY.GDP.MKTP.CD  GDP (current US$)

> The **`Indicator Code`** for the GDP measured in current US Dollars is **'NY.GDP.MKTP.CD'**.<br/>

In [54]:
# Find the 'Indicator Code' of the GINI index
indicators[indicators['Indicator Name'].str.contains("GINI", case = False)]

               Indicator Name
Indicator Code
SI.POV.GINI        Gini index

> The **`Indicator Code`** for the GINI index is **'SI.POV.GINI'**.<br/>

## Extracting and Cleaning Data from WDI and PWT

**15.** From **wdi** extract the columns 'Indicator Code', 'Country Code', and '2012'.
Save the output in variable **wdi_sample**.

*Note: You should be able to perfom all operations in a single line of code. <br/>*

In [57]:
# Extract the columns 'Indicator Code', 'Country Code', and '2012'
wdi_sample = wdi[['Indicator Code', 'Country Code', '2012']].copy()

# Check 5 first rows
wdi_sample.head()

      Indicator Code Country Code  2012
0     EG.CFT.ACCS.ZS          AFG  22.9
1  EG.CFT.ACCS.RU.ZS          AFG   8.0
2  EG.CFT.ACCS.UR.ZS          AFG  74.3
3     EG.ELC.ACCS.ZS          AFG  69.1
4  EG.ELC.ACCS.RU.ZS          AFG  60.8

**16.** Select from **wdi_sample** the lines associated with the Indicator Codes that you found in question 14., which concern the data of the 'Population total','GDP', and 'GINI index'.

In [59]:
# Select the lines associated with the Indicator Codes
wdi_sample = wdi_sample[wdi_sample['Indicator Code'].isin(['SP.POP.TOTL', 'NY.GDP.MKTP.CD', 'SI.POV.GINI'])]
wdi_sample

        Indicator Code Country Code          2012
473     NY.GDP.MKTP.CD          AFG  1.990733e+10
497        SI.POV.GINI          AFG           NaN
1080       SP.POP.TOTL          AFG  3.046648e+07
1961    NY.GDP.MKTP.CD          ALB  1.231983e+10
1985       SI.POV.GINI          ALB  2.900000e+01
...                ...          ...           ...
320417     SI.POV.GINI          ZMB           NaN
321000     SP.POP.TOTL          ZMB  1.474466e+07
321881  NY.GDP.MKTP.CD          ZWE  1.711485e+10
321905     SI.POV.GINI          ZWE           NaN
322488     SP.POP.TOTL          ZWE  1.326533e+07

[651 rows x 3 columns]

**17.** Create a pivot table, in which the **values** are column '2012', the **index** is 'Country Code', and the **columns** are the Indicator Codes. <br/>

*Hint: Pandas has a very useful method to create pivot tables.*

In [61]:
# Create the pivot table
wdi_sample = wdi_sample.pivot(index = 'Country Code', 
                              columns = 'Indicator Code',
                              values = '2012')
wdi_sample

Indicator Code  NY.GDP.MKTP.CD  SI.POV.GINI  SP.POP.TOTL
Country Code
ABW               2.615208e+09          NaN     102112.0
AFG               1.990733e+10          NaN   30466479.0
AGO               1.280529e+11          NaN   25188292.0
ALB               1.231983e+10         29.0    2900401.0
AND               3.188653e+09          NaN      71013.0
...                        ...          ...          ...
XKX               6.163484e+09         29.0    1807106.0
YEM               3.540133e+10          NaN   26223391.0
ZAF               4.344005e+11          NaN   53145033.0
ZMB               2.550306e+10          NaN   14744658.0
ZWE               1.711485e+10          NaN   13265331.0

[217 rows x 3 columns]

**18.** Rename the column names of **wdi_sample** to 'Population', 'GDP', and 'GINI', accordingly.

In [63]:
# Rename the columns
wdi_sample.rename(columns = {'SP.POP.TOTL': 'Population',
                             'NY.GDP.MKTP.CD': 'GDP',
                             'SI.POV.GINI': 'GINI'}, 
                    inplace = True)

# Or simply use the method .columns to rename the columns -> wdi_sample.columns = ['Population', 'GDP', 'GINI']

# Check 5 first rows
wdi_sample.head()

Indicator Code           GDP  GINI  Population
Country Code
ABW             2.615208e+09   NaN    102112.0
AFG             1.990733e+10   NaN  30466479.0
AGO             1.280529e+11   NaN  25188292.0
ALB             1.231983e+10  29.0   2900401.0
AND             3.188653e+09   NaN     71013.0

**19.** From **pwt** select only the values of the year 2012. <br/>
Then, extract the columns 'countrycode' and 'hc' into a new variable **pwt_sample**. <br/>
Rename 'countrycode' to 'Country Code', so that it matches the same column in **wdi_sample**<br/>

*Note: in this case 'hc' stands for the Human Capital Index.<br/>*

In [65]:
# Select the values of the year 2012 from 'pwt' + Extract the columns 'countrycode' and 'hc'
pwt_sample = pwt[pwt['year'] == 2012][['countrycode', 'hc']].copy()

# Rename the column 'countrycode' to 'Country Code'
pwt_sample.rename(columns = {'countrycode': 'Country Code'}, inplace = True)
pwt_sample

      Country Code        hc
62             ABW       NaN
127            AGO  1.431295
192            AIA       NaN
257            ALB  2.917346
322            ARE  2.723864
...            ...       ...
11567          VNM  2.532614
11632          YEM  1.488720
11697          ZAF  2.596012
11762          ZMB  2.330032
11827          ZWE  2.459828

[182 rows x 2 columns]

**20.** Finally, create a new dataframe named **data** that contains the columns from **wdi_sample** and **pwt_sample**, matched by 'Country Code'. 

*Hint: Use the method concat(), and make sure both dataframes have the same index ('Country Code').*

In [67]:
# Create the DataFrame 'data'
data = pd.concat([wdi_sample, pwt_sample.set_index('Country Code')], axis = 1)
#  - axis = 1 to concatenate the DataFrames by columns
#  - join = 'outer' to keep all the rows of the DataFrames (default)

data

                       GDP  GINI  Population        hc
Country Code
ABW           2.615208e+09   NaN    102112.0       NaN
AFG           1.990733e+10   NaN  30466479.0       NaN
AGO           1.280529e+11   NaN  25188292.0  1.431295
ALB           1.231983e+10  29.0   2900401.0  2.917346
AND           3.188653e+09   NaN     71013.0       NaN
...                    ...   ...         ...       ...
ZMB           2.550306e+10   NaN  14744658.0  2.330032
ZWE           1.711485e+10   NaN  13265331.0  2.459828
AIA                    NaN   NaN         NaN       NaN
MSR                    NaN   NaN         NaN       NaN
TWN                    NaN   NaN         NaN  3.135961

[220 rows x 4 columns]

# <span style="color:brown"> Part 3 - Analysing a Dataset </span>

**21.** Perform the necessary manipulations to answer the following questions, unless otherwise stated you can use the country codes to represent the countries in your solutions:
1. Which countries have a **population size of 10 million habitations +/- 1 million**?
2. What is  the **average** and the **standard deviation in the GDP** for the countries listed in 1?
3. What is  the **average** and the **standard deviation in the GDP per capita** for the countries listed in 1?
4. Consider the following classification of Population Size: <br/>
    Tiny - population < 1 000 000 <br/>
    Very Small - 1 000 000 <= population < 5 000 000 <br/>
    Small - 5 000 000 <= population < 15 000 000 <br/>
    Medium - 15 000 000 <= population < 30 000 000 <br/>
    Large - 30 000 000 <= population < 100 000 000 <br/>
    Huge - 100 000 000 <= population <br/>
   What is  the **average** and the **standard deviation in the GDP per capita for the countries in each size classification**?   
5. Create a **function** that will take a dataframe and a column name. This function should **return** a series with binary values indicating whether the **values from the column are above the mean value of that column** (indicated with a value of 1 or 0 otherwise). If the value in the column is missing (NaN) the value in the series should also be missing (NaN). Test your function. *Hint:* search how to check if something is None so that we can return None. <br/>
6. What is the **average GDP per capita of the countries after being grouped by size classification and whether the human capital was above or below average**? *Hint: as an example, two of the groups should be (1) tiny and human capital below average, (2) tiny and human capital above average.*
7. What is the **average GDP per capita of the countries after being grouped by whether the human capital was above or below average and whether the gini coefficient was above or below average?**
8. What is the **name of the country** that has the **highest GDP per capita, a Gini coefficient below average and a level of human capital below average**?
9. What is the **name of the country** that has the **highest GDP per capita, a Gini coefficient below average for its size classification, and a level of human capital below average for its size classification**?
10. What is the **name of the country** that has the **largest % increase in GDP between 1980 and 2010?** *HINT: You will need to use the wdi dataframe.*

Write the necessary code to answer each question in a single cell. <br/>
Print the answer at the end of that cell.

In [70]:
# 1
# Which countries have a population size of 10 million habitations +/- 1 million?
print("The countries with a population size of 10 million +/- 1 million are: " +
      ", ".join(                                                        # .join() to concatenate country names into a single string separated by commas
          wdi[wdi['Country Code'].isin(                                 # .isin() to filter countries with a population between 9 and 11 million
              data[data['Population'].between(9_000_000, 11_000_000)].index   # Retrieve their 'Country Code' from 'data'
          )]['Country Name'].unique()), '\n\n')                               # Match with 'Country Name' from 'wdi'

pd.DataFrame(data[data['Population'].between(9_000_000, 11_000_000)][['Population']])

The countries with a population size of 10 million +/- 1 million are: Azerbaijan, Belarus, Benin, Bolivia, Burundi, Czechia, Dominican Republic, Guinea, Haiti, Hungary, Portugal, Rwanda, South Sudan, Sweden

              Population
Country Code
AZE            9295784.0
BDI            9795479.0
BEN           10014078.0
BLR            9446836.0
BOL           10569697.0
CZE           10510785.0
DOM           10030882.0
GIN           10788692.0
HTI           10108539.0
HUN            9920362.0
PRT           10514844.0
RWA           10840334.0
SSD           10701604.0
SWE            9519374.0

In [71]:
# 2
# What is the average and the standard deviation in the GDP for the countries listed in 1?
print("Average GDP for countries with a population of 10 million +/- 1 million: ", 
      data[data['Population'].between(9_000_000, 11_000_000)]['GDP'].mean())
print("Standard deviation in GDP for countries with a population of 10 million +/- 1 million: ", 
      data[data['Population'].between(9_000_000, 11_000_000)]['GDP'].std())

Average GDP for countries with a population of 10 million +/- 1 million:  98851409945.84126
Standard deviation in GDP for countries with a population of 10 million +/- 1 million:  149245794399.39508

In [72]:
# 3
# What is the average and the standard deviation in the GDP per capita for the countries listed in 1?
data['GDP per capita'] = data['GDP'] / data['Population'] # Calculate the GDP per capita

print("Average GDP per capita for countries with a population of 10 million +/- 1 million: ", 
      data[data['Population'].between(9_000_000, 11_000_000)]['GDP per capita'].mean())
print("Standard deviation in GDP per capita for countries with a population of 10 million +/- 1 million: ", 
      data[data['Population'].between(9_000_000, 11_000_000)]['GDP per capita'].std())

Average GDP per capita for countries with a population of 10 million +/- 1 million:  9982.440647663661
Standard deviation in GDP per capita for countries with a population of 10 million +/- 1 million:  15473.789886856379

In [73]:
# 4
# Cut the data into bins as the classification of Population Size given
bins = [0, 1_000_000, 5_000_000, 15_000_000, 30_000_000, 100_000_000, np.inf]
labels = ['Tiny', 'Very Small', 'Small', 'Medium', 'Large', 'Huge']

# Create a new column 'Population Size' with the classification of Population Size
data['Population Size'] = pd.cut(data['Population'], 
                                 bins = bins,       # The bins to be used for classification
                                 labels = labels,   # The labels to be used for classification
                                 right = False)     # right = False to include the left bin -> [0, 1_000_000), [1_000_000, 5_000_000), ...

# Calculate the average and standard deviation in the GDP per capita for the countries in each size classification
pd.DataFrame(data.groupby('Population Size')['GDP per capita'].agg(['mean', 'std']))

                         mean           std
Population Size
Tiny             28226.323970  36308.718148
Very Small       14177.620484  18398.172964
Small            16201.659272  23617.072371
Medium            8903.482776  16313.630730
Large            13177.431583  15611.569429
Huge             14158.730825  18610.257687

In [74]:
# 5
# Create a function that returns a series with binary values indicating whether the values from the column are above the mean value of that column
def above_mean(df, column):
    
    # Calculate the mean of the column
    column_mean = df[column].mean()
    
    # Iterate over the column and check if the value is above the column_mean
    # We will append '0' in this list if the value is smaller than the column's mean, 
    #                '1' otherwise
    # Consider the case where the value is missing (NaN)
    return df[column].apply(lambda x: 1 if x > column_mean else 0 if x == x else np.nan)

# Apply the function to the 'hc' column
pd.DataFrame(above_mean(data, 'hc'))

               hc
Country Code
ABW           NaN
AFG           NaN
AGO           0.0
ALB           1.0
AND           NaN
...           ...
ZMB           0.0
ZWE           0.0
AIA           NaN
MSR           NaN
TWN           1.0

[220 rows x 1 columns]

In [75]:
# 6
# Calculate the average GDP per capita of the countries after being grouped by size classification and whether the human capital was above or below average
pd.DataFrame(data.groupby(['Population Size', above_mean(data, 'hc')])['GDP per capita'].agg(['mean']))

                             mean
Population Size hc
Tiny            0.0   7447.415608
                1.0  41099.349432
Very Small      0.0   9522.335063
                1.0  19135.544230
Small           0.0   3093.049239
                1.0  33815.347537
Medium          0.0   1347.638420
                1.0  19389.666388
Large           0.0   3678.654171
                1.0  24249.265533
Huge            0.0   2707.374909
                1.0  27900.357925

In [76]:
# 7
# Calculate the average GDP per capita of the countries after being grouped by whether the human capital was above or below average and whether the Gini coefficient was above or below average
pd.DataFrame(data.groupby([above_mean(data, 'hc'), above_mean(data, 'GINI')])['GDP per capita'].agg(['mean']))

                  mean
hc  GINI
0.0 0.0    6410.516940
    1.0    3785.250677
1.0 0.0   32470.894695
    1.0   13020.948708

In [77]:
# 8
# What is the name of the country that has the highest GDP per capita, a Gini coefficient below average and a level of human capital below average?
answer8 = data[(above_mean(data, 'GINI') == 0) & 
               (above_mean(data, 'hc') == 0)]['GDP per capita'].idxmax()

# Get the country code of the country with the highest GDP per capita
answer8_country_code = data.loc[answer8].name 

# Lookup the country name using the country code from 'wdi' DataFrame
answer8_country_name = wdi.loc[wdi['Country Code'] == answer8_country_code, 'Country Name'].values[0]

print("The country that has the highest GDP per capita, a Gini coefficient below average and a level of human capital below average is: ", 
       answer8_country_code, '-', answer8_country_name, ".\n")

The country that has the highest GDP per capita, a Gini coefficient below average and a level of human capital below average is:  PRT - Portugal .

In [78]:
# 9
# What is the name of the country that has the highest GDP per capita, a Gini coefficient below average for its size classification, and a level of human capital below average for its size classification?

# Create a function to check if the value is below the mean for a specific group
def below_mean_for_group(df, column, group):
    return df.groupby(group)[column].transform(lambda x: x < x.mean())

# Filter countries where GINI and hc are below average for their size classification and not null and find the country with the highest GDP per capita
answer9 = data[(below_mean_for_group(data, 'GINI', 'Population Size')) &
               (below_mean_for_group(data, 'hc', 'Population Size'))]['GDP per capita'].idxmax()

# Get the country code of the country with the highest GDP per capita
answer9_country_code = data.loc[answer9].name

# Lookup the country name using the country code from 'wdi' DataFrame
answer9_country_name = wdi.loc[wdi['Country Code'] == answer9_country_code, 'Country Name'].values[0]

print("The country that has the highest GDP per capita, a Gini coefficient below average for its size classification, and a level of human capital below average for its size classification is: ", 
      answer9_country_code, '-', answer9_country_name, ".\n")

The country that has the highest GDP per capita, a Gini coefficient below average for its size classification, and a level of human capital below average for its size classification is:  IRN - Iran, Islamic Rep. .

In [79]:
# 10
# What is the name of the country that has the largest % increase in GDP between 1980 and 2010?
# Calculate the % increase in GDP between 1980 and 2010 for each country using the 'Indicator Code' 'NY.GDP.MKTP.CD'
wdi['GDP % increase'] = wdi[wdi['Indicator Code'] == 'NY.GDP.MKTP.CD']['2010'] / wdi[wdi['Indicator Code'] == 'NY.GDP.MKTP.CD']['1980'] * 100

# Find the country with the largest % increase in GDP between 1980 and 2010
answer10 = wdi['GDP % increase'].idxmax() # It returns the value of the index

# With the index we can get the country code -> wdi.loc[answer10]['Country Code']
print("The country that has the largest % increase in GDP between 1980 and 2010 is: ", 
       wdi.loc[answer10]['Country Code'], '-', wdi.loc[answer10]['Country Name'], ".\n")

The country that has the largest % increase in GDP between 1980 and 2010 is:  GNQ - Equatorial Guinea .

---